{% extends 'quotes/base.html' %}
{% load extract %}

{% block content %}
<div class="row mb-3">
    <div class="col-md-8 themed-gris-col">
        {% for quote in quotes %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">
                {{quote.quote}}
            </span>
            <span>by <small class="author" itemprop="author">{{quote.author.fullname}}</small>
        <a href="{% url 'quotes:author_about' quote.author.id %}">(about)</a>
        </span>
            <div class="tags">
                Tags:
                {% for tag in quote.tags.all %}
                <a class="tag" href="{% url 'quotes:find_by_tag' tag.id %}">{{tag}}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <nav>
      <ul class="pager">

            <li class="previous">
                <a class="{% if not quotes.has_previous %} disabled {% endif %}"
                href="{% if quotes.has_previous %} {% url 'quotes:root_paginate' quotes.previous_page_number %} {% else %} # {% endif %}">
                <span aria-hidden="true">←</span> Previous</a>
            </li>


            <li class="next">
                <a class="{% if not quotes.has_next %} disabled {% endif %}"
                href="{% if quotes.has_next %} {% url 'quotes:root_paginate' quotes.next_page_number %} {% else %} # {% endif %}">
                Next <span aria-hidden="true">→</span></a>
            </li>

        </ul>
    </nav>
    </div>
    <div class="col-md-4 tags-box">
        <h2>Top Ten tags</h2>
        <span class="tag-item">
            {% for tag in top_tags %}
                <a class="tag" href="{% url 'quotes:find_by_tag' tag.id %}">{{tag}}</a>
                <p></p>
            {% endfor %}
        </span>
    </div>

</div>


{% endblock %}